
/* GLOBAL STYLES */
* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --sedan-bg:  hsl(31, 77%, 52%);
    --suv-bg:  hsl(184, 100%, 22%);
    --luxury-bg: hsl(179, 100%, 13%);
    --text-color:  hsla(0, 0%, 100%, 0.75);
    --bg-heading-btn: hsl(0, 0%, 95%);
}

/* BODY STYLES */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:var(--bg-heading-btn);
}

/* CARD CONTAINER */
.card-container {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:center;
    max-width:85rem;
    border-radius:1rem;
    overflow:hidden;
}

.card {
    flex: 1 1 20rem;
    padding:3rem;
}

.card img,
.card h1,
.card p {
    margin-bottom:2rem;
}

.card h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size:2.8rem;
    color:var(--bg-heading-btn);
}
.sedans {
    background-color:var(--sedan-bg);
}

.sedans button {
    color:var(--sedan-bg);
}
.card p {
    font-family:'Lexend Deca', sans-serif;
    font-size:1.5rem;
    color:var(--text-color);
    line-height:1.6;
    margin-bottom:6rem;
}
.suvs {
    background-color:var(--suv-bg);
}

.suvs button {
    color:var(--suv-bg);
}

.luxury {
    background-color:var(--luxury-bg);
}

.luxury button {
    color: var(--luxury-bg);
}

button {
    background-color:var(--bg-heading-btn);
    padding:1rem;
    border-radius:2rem;
    margin: 2rem 0;
    border: none;
    font-size:1.5rem;
    font-family:'Lexend Deca', sans-serif;
}

/* MOBILE STYLES */
@media only screen and (max-width:375px) {
    html {
        font-size:60%;
    }
    .card-container {
        width:80%;
        margin:2rem 0;
    }
}